.background {
  background-color: rgb(76, 76, 185);
}

.flexbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

section {
  border-radius: 50px;
  background-color: white;
  width: 500px;
  min-height: 500px
}