.searchbar {
  justify-content: center;
}


.input-searchbar {
  margin: 3px;
  text-align: center;
  width: 45vw;
  padding: 7px 0;
  margin-top:  15px;
}

.add-btn {
  width: 60px;
  padding: 7px 0;
}
