.searchbar {
  display: flex;
  justify-content: center;
}


.input-searchbar {
  margin-left: 15px;
  margin-right: 5px;
  text-align: center;
  width: 408px;
  height: 22px;
  padding: 6px 0;
  margin-top:  15px;
  font-weight: bolder;
  font-size: 20px;
}

.add-btn {
  background-color: rgba(0, 128, 0, 0.511);
  padding: 7px 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 6px;
  margin-top: 6px;
}

.add-btn:hover {
  background-color: rgb(1, 95, 1);
}


@media screen and (max-width: 768px) {
  .searchbar {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 3px;
}

  .input-searchbar {
    width: 90vw;
    min-width: 180px;
    max-width: 300px; /* Defina um tamanho máximo adequado para evitar ultrapassar o limite */
    margin: 10px 0;
  }

  .add-btn {
  background-color: rgba(0, 128, 0, 0.511);
  padding: 7px 11px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 6px;
  margin-top: 6px;
}
}